body{
    background-image: url("https://media.giphy.com/media/l4pTdvQhGedNxG4JG/giphy.gif");
background-size: cover;
 }



 
  .ageContainer{
     

    background-color: grey;
    opacity: .5;
    
    width: 300px;
 height: 400px;
 padding: 20px;
 position: absolute;
 top: 30%;
 left: 50%;
 margin: -70px 0 0 -170px;
 border-radius: 2px;
    box-sizing: border-box;
    border: 3.5px solid blue;
    border-right-width: 7.5px;
    border-left-width: 7.5px;

}
 

.images{
    max-width: 150px;
    max-height: 100px;
}

.form-info {
    
    text-align: center;
    width: 300px;
    height: 400px;
    padding: 20px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin: -70px 0 0 -170px;
    border-radius: 2px;
    box-sizing: border-box;
    border: 3.5px solid blue;
    border-right-width: 7.5px;
    border-left-width: 7.5px;
font-family:'Cabin', sans-serif;
}
