/* Reset ------------------------------------------------------ */

* {
    box-sizing: border-box;
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: #f5f5f5;
}

/* Age Modal ------------------------------------------------------ */

#modal {
    display: none;
}

#age-modal {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
}

.ageContainer{
    background: url(../images/bg-modal.png);
    text-align: center;
    width: 450px;
    height: 675px;
    padding: 20px;
    position: absolute;
    top: calc((100vh - 675px) / 2);
    left: calc((100vw - 450px) / 2);;
}

.age-container-text {
    width: 278px;
    height: 540px;
    margin: 61px 0 0 25px;
    padding: 25px 15px 15px 15px;
}

#size {
    color: #262626;
    font-family: 'Cabin', sans-serif;
    font-size: 48px;
    line-height: 110%;
    /* margin-top: 20px; */
}

#birthday {
    font-size: 14px;
    margin: 5px 0 15px 0;
}

#date-form {
    font-size: 14px;
}

.date-form {
    background: #262626;
}

#age-submit {
    background: #169aef;
    border: 1px solid #262626;
    color: #f5f5f5;
    padding: 0 20px;
    border-radius: 25px;
    transition: 0.3s;
    margin: 20px 0 8px 0;
}

#age-submit:hover {
    background: #e0245e;
}

/* Index Styling ------------------------------------------------------ */

#bg-video {
    position: fixed;
    left: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}

.bg-still {
    background: url(../images/bg-beer-still.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-position: center;
    background-position: center;
}
  
.video-overlay {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.65);
    color: #f5f5f5;
    width: 100%;
    height: 100%;
}

.title-header {
    margin-top: 16%;
    font-family: 'Cabin', sans-serif;
    font-size: 48px;
}

.title-secondary {
    margin-top: 3%;
    font-size: 22px;
}

.title-span {
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
  }

.start-quiz {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

#quiz-btn {
    background: none;
    color: #f5f5f5;
    border: 2px solid #f5f5f5;
    padding: 5px 20px;
    border-radius: 25px;
    transition: 0.3s;
}

#quiz-btn:hover {
    background: #169aef;
}

button:focus {
    outline: none;
}

header {
    width: 100%;
}

a {
    color: #f5f5f5;
}

a:hover,
#retake-quiz:hover {
    color: #e0245e;
    text-decoration: none;
}

.navbar {
    background-color: #169aef;
    display: flex;
    justify-content: center;
}

.clear-bg {
    background: none;
}

.header-logo {
    height: 60px;
    padding-top: 15px;
    padding-bottom: 5px;
}

/* Questionaire Styling ------------------------------------------------------ */

#quiz-modal {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: url(../images/bg-table.jpg);
    z-index: 1;
}

.quiz-container {
    position: fixed;
    width: 92%;
    height: 92%;
    top: 4%;
    left: 4%;
    background:url(../images/bg-quizpattern.jpg);
    border: 8px double #f5f5f5;
    z-index: 2;
}

.container {
    font-family: 'Cabin', sans-serif;
}

#quiz-logo {
    width: 127px;
    height: 40px;;
}

#question {
    font-size: 4vh;
    color: #f5f5f5;
    margin-bottom: 5px;
}

#options {
    width: 100%;
}

#zip-submit,
.option {
    background: #169aef;
    color: #f5f5f5;
    font-size: 3vh;
    padding: 5px 0;
    border: 3px solid #f5f5f5;
    margin-bottom: 15px;
    transition: 0.3s;
    width: 100%;
    border-radius: 25px;
}

#zip-submit {
    width: 30%;

}

.zipsub {
    display: flex;
    justify-content: center;
}

#zip-submit:hover,
.option:hover {
    background-color: #e0245e;
    text-decoration: none;
}

#zip {
    display: none;
}

#inputZip {
    width: 80%;
    padding: 20px 15px;
    margin-top: 6vh;
    border-radius: 25px;
    border: 2px solid #f5f5f5;
    background-color: #f5f5f5;
    margin-bottom: 30px;
    font-size: 3vh;
}

#zip-alert {
    width: 100%;
    text-align: center;
    font-size: 3vh;
    color: #e0245e;
}

/* Results Page Styling ------------------------------------------------------ */

p {
    margin-bottom: 2px;
}

.bg-parallax {
    background: url(../images/bg-taps.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: calc(100vh - 60px);
    position: relative;
}

.parallax-overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.30);
    color: #f5f5f5;
    width: 100%;
    height: 100%;
}

.abs-container {
    position: absolute;
    top: 39vh;
}

.based-on,
.based-on-arrow {
    color: #f5f5f5;
    width: 100%;
    font-family: 'Cabin', sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 1px #262626;
}

.selected-style-text {
    margin-bottom: 20px;
    color: #262626;
    font-family: 'Cabin', sans-serif;
    font-size: 32px;
}

.selected-style-div {
    padding: 30px 0;
}

#selected-style-description {
    margin-bottom: 20px;
}

#selected-style-image {
    margin-bottom: 20px;
}

.retake-quiz-btn {
    background: #169aef;
    color: #f5f5f5;
    padding: 5px 20px;
    border-radius: 25px;
    transition: 0.3s;
    margin-left: 5px;
}

.retake-quiz-btn:hover {
    background: #e0245e;
}

#selected-style-image,
#map-img {
    width: 100%;
    border: 1px solid #262626
}

.recommended-beers-div {
    padding-bottom: 25px;
}

table {
    table-layout: auto;
    width: 100%; 
}

td {
    background: url(../images/bg-table.jpg);
    border-top: 1px solid #262626;
    color: #262626;
    display: flex;
    padding: 10px;
    margin-bottom: 3px;
    min-height: 120px;
}

td a {
    color: #169aef;
}

.recommended-beer-row {
    position: relative;
    width: 120px;
    height: auto;
}

.recommended-beer-company {
    font-size: 16px;
}

.recommended-beer-name {
    font-size: 16px;
    font-weight: bolder;
}

.recommended-beer-description {
    font-size: 14px;
}

.maps-fill-div {
    width: 100%;
    background: #262626;
}

.maps-div {
    background: url(../images/bg-map.jpg) no-repeat;
    background-position: center center;
    background-size: auto;
    padding: 45px 0;
}

.maps-text {
    color: #f5f5f5;
    font-family: 'Cabin', sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
}

#map {
    width: 100%;
    height: 400px;
  }

   /*style the box which holds the text of the information window*/  
.gm-style .gm-style-iw {
    text-align: center;
    background-color: #f5f5f5;
    border: 1px solid #262626;
    width: 100%;
    height: 100%;
    padding: 10px;
 }    

 #link-thing {
     margin-bottom: 5px;
 }

 /*style the paragraph tag*/
 .gm-style .gm-style-iw #google-popup p{
    padding: 10px;
 }

/*style the link*/
.gm-style div div div div div div div div a {
    color: #169aef;
    font-weight: bold;
}

gm-style div div div div div div div div a:hover {
    color: #e0245e;
}

.social {
    background: url(../images/bg-beerhops.jpg) no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    height: 500px;
    position: relative;
    padding: 45px 0 100px 0;
}

.social-overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.30);
    color: #f5f5f5;
    width: 100%;
    height: 100%;
}

.social-text {
    color: #f5f5f5;
    font-family: 'Cabin', sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 1px #262626;
    margin-top: 45px;
    margin-bottom: 20px;
}

.social-media-picture {
    transition: transform .2s;
}

.social-media-picture:hover {
    transform: scale(1.1);
}

footer {
    background-color: #169aef;
    color: #f5f5f5;
    font-size: 11px;
    display: flex;
    padding-top: 20px;
}
.soc-icon-div {
    width: 50%;
    margin: 0 auto 10px auto;
}

.social-icons a {
    font-size: 40px;
    cursor: pointer;
}

#copyright {
    margin-bottom: 30px;
    font-size: 12px;
}

#design {
    font-size: 14px;
    font-weight: bold;
}

/* Media Queries ------------------------------------------------------ */

@media only screen and (min-width: 1630px) {
    #quiz-logo {
        margin-bottom: 40px;;
    }

    #game {
        margin-bottom: 60px;
    }

    .quiz-answers {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 1630px) {
    #bg-video {
        display: none;
    }
}


@media only screen and (max-width: 991px) {
    .soc-icon-div {
        width: 65%;
    }
    
    .social {
        height: 825px;
    }
}

@media only screen and (max-width: 768px) {
    .soc-icon-div {
        width: 100%;
    }
    
    .social {
        height: 675px;
    }
    
    .title-header {
        font-size: 44px;
    }
    
    .title-secondary {
        margin-top: 5%;
        font-size: 20px;
    }
    
    .start-quiz {
        margin-top: 6%;
    }
    
    #game {
        margin-bottom: 25px;
        height: 120px;
    }
}

@media only screen and (max-width: 575px){
    .social {
        height: 2275px;
    }
}

@media only screen and (max-width: 560px) {
    .title-header {
        font-size: 36px;
    }
    
    .title-secondary {
        margin-top: 7%;
        font-size: 18px;
    }
    
    .title-span {
        font-size: 30px;
    }
    
    .start-quiz {
        margin-top: 9%;
    }
    
    .based-on,
    .based-on-arrow {
        font-size: 40px;
    }
    .retake-quiz-btn {
        padding: 2px 10px;
    }
    .maps-text {
        font-size: 40px;
    }
    .social-text {
        font-size: 40px;
        margin-top: 45px;
        margin-bottom: 20px;
    }

}

@media only screen and (max-width: 425px){
    .social {
        height: 1680px;
    }
}

@media only screen and (max-width: 414px) {
    .ageContainer{
        background-size: 100% 100%;
        width: 300px;
        height: 415px;
        padding: 20px;
        top: calc((100vh - 415px) / 2);
        left: calc((100vw - 300px) / 2);;
    }

    .age-container-text {
        width: 205px;
        height: 385px;
        margin: 25px 0 0 0 ;
        padding: 10px;
    }

    #size {
        font-size: 32px;
        line-height: 110%;
        /* margin-top: 10px; */
    }

    #birthday {
        font-size: 12px;
        margin: 5px 0 0 0;
    }

    #date-form {
        padding: 10px;
        font-size: 12px;
    }

    select {
        background-color: #f5f5f5;
        color: #262626;
    }

    #age-submit {
        margin: 6px 0 0 0;
    }

    #age-plus {
        width: 60px;
    }
}

@media only screen and (max-width: 375px){
    .title-header {
        font-size: 26px;
    }
    
    .title-secondary {
        margin-top: 7%;
        font-size: 16px;
    }
    
    .title-span {
        font-size: 26px;
      }
    
    .start-quiz {
        margin-top: 9%;
    }

    .abs-container {
        top: 20vh;
    }
}

@media only screen and (max-width: 360px){
    #zip-submit,
    #inputZip {
        width: 100%;
    }
}