/* Reset */

* {
    box-sizing: border-box;
    max-width: 100%;
}

body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: #f5f5f5;
}

/* Age Modal */

.modal {
    position: fixed;
    bottom: 0;
    background: rgba(38, 38, 38, 0.65);
    width: 100%;
    height: 100%;
    display: none;
}

/* Index Styling */

#bg-video {
    position: fixed;
    left: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    /* overflow: hidden; */
}

.bg-still {
    background: url(../images/beer-pour-still.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-position: center;
    background-position: center;
}
  
.video-overlay {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.65);
    color: #f5f5f5;
    width: 100%;
    height: 100%;
}

.title-header {
    margin-top: 16%;
    font-family: 'Cabin', sans-serif;
    font-size: 48px;
}

.title-secondary {
    margin-top: 3%;
    font-size: 22px;
}

.title-span {
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
  }

.start-quiz {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

#quiz-btn {
    background: none;
    color: #f5f5f5;
    border: 2px solid #f5f5f5;
    padding: 5px 20px;
    border-radius: 25px;
    transition: 0.3s;
}

#quiz-btn:hover {
    background: #169aef;
}

button:focus {
    outline: none;
}

header {
    width: 100%;
}

a {
    color: #f5f5f5;
}

a:hover,
#retake-quiz:hover {
    color: #e0245e;
    text-decoration: none;
}

.navbar {
    background-color: #169aef;
    display: flex;
    justify-content: center;
}

.clear-bg {
    background: none;
}

.header-logo {
    height: 60px;
    padding-top: 15px;
    padding-bottom: 5px;
}

/* Questionaire Styling */

.text-muted {
    color: #f5f5f5;
}

.last-seconds {
    color: red;
}

.option {
    margin: 15px;
}

/* Results Page Styling */

p {
    margin-bottom: 2px;
}

.bg-parallax {
    background: url(../images/bg-taps.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: calc(100vh - 60px);
    position: relative;
}

.parallax-overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.30);
    color: #f5f5f5;
    width: 100%;
    height: 100%;
}

.abs-container {
    position: absolute;
    top: 40vh;
}

.based-on,
.based-on-arrow {
    color: #f5f5f5;
    width: 100%;
    font-family: 'Cabin', sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 1px #262626;
}

.selected-style-text {
    margin-bottom: 20px;
    color: #262626;
    font-family: 'Cabin', sans-serif;
    font-size: 32px;
}

.selected-style-div {
    padding: 30px 0;
}

#selected-style-description {
    margin-bottom: 20px;
}

#selected-style-image {
    margin-bottom: 20px;
}

.retake-quiz-btn {
    background: #169aef;
    color: #f5f5f5;
    padding: 5px 20px;
    border-radius: 25px;
    transition: 0.3s;
    margin-left: 5px;
}

.retake-quiz-btn:hover {
    background: #e0245e;
}

#selected-style-image,
#map-img {
    width: 100%;
    border: 1px solid #262626
}

.recommended-beers-div {
    padding-bottom: 25px;
}

table {
    table-layout: auto;
    width: 100%; 
}

td {
    background: url(../images/body-bg.jpg);
    border-top: 1px solid #262626;
    color: #262626;
    display: flex;
    padding: 10px;
    margin-bottom: 3px;
    min-height: 120px;
}

td a {
    color: #169aef;
}

.recommended-beer-row {
    position: relative;
    width: 120px;
    height: auto;
}

.recommended-beer-company {
    font-size: 16px;
}

.recommended-beer-name {
    font-size: 16px;
    font-weight: bolder;
}

.recommended-beer-description {
    font-size: 14px;
}

.map-bg-div {
    width: 100%;
    background: #262626;
}

.maps-div {
    background: url(../images/map-bg.jpg) no-repeat;
    background-position: center center;
    background-size: auto;
    padding: 45px 0;
}

.maps-text {
    color: #f5f5f5;
    font-family: 'Cabin', sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
}

.social {
    background: url(../images/bg-beerhops.jpg) no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    height: 500px;
    position: relative;
    padding: 45px 0;
}

.social-overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.30);
    color: #f5f5f5;
    width: 100%;
    height: 100%;
}

.social-text {
    color: #f5f5f5;
    font-family: 'Cabin', sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 1px #262626;
    margin-top: 45px;
    margin-bottom: 20px;
}

#insta {
    width: 100%;
}

footer {
    background-color: #169aef;
    color: #f5f5f5;
    font-size: 11px;
    display: flex;
    padding-top: 20px;
}
.soc-icon-div {
    width: 50%;
    margin: 0 auto 10px auto;
}

.social-icons a {
    font-size: 40px;
}

#copyright {
    margin-bottom: 30px;
    font-size: 12px;
}

#design {
    font-size: 14px;
    font-weight: bold;
}

/* Media Queries */

@media only screen and (max-width: 1630px) {
    #bg-video {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .soc-icon-div {
        width: 65%;
    }
}

@media only screen and (max-width: 768px) {
    .soc-icon-div {
        width: 100%;
    }
    .title-header {
        font-size: 44px;
    }
    
    .title-secondary {
        margin-top: 5%;
        font-size: 20px;
    }
    
    .start-quiz {
        margin-top: 6%;
    }
}

@media only screen and (max-width: 560px) {
    .title-header {
        font-size: 36px;
    }
    
    .title-secondary {
        margin-top: 7%;
        font-size: 18px;
    }
    
    .title-span {
        font-size: 30px;
      }
    
    .start-quiz {
        margin-top: 9%;
    }

    .based-on,
    .based-on-arrow {
        font-size: 40px;
    }
    .retake-quiz-btn {
        padding: 2px 10px;
    }
    .maps-text {
        font-size: 40px;
    }
    .social-text {
        font-size: 40px;
        margin-top: 45px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 560px) {
    .title-header {
        margin-top: 25%;
        font-size: 24px;
    }

    .title-secondary {
        margin-top: 12%;
        font-size: 16px;
    }

    .title-span {
        font-size: 24px;
    }

    .start-quiz {
        margin-top: 16%;
    }
}