/* Reset */

* {
    box-sizing: border-box;
    max-width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-color: #f5f5f5;
}


/* Age Modal */

.modal {
    position: fixed;
    bottom: 0;
    background: rgba(38, 38, 38, 0.65);
    width: 100%;
    height: 100%;
    display: none;
}


/* Index Styling */

#bg-video {
    position: absolute;
    top: 40%; 
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-40%);
    transform: translateX(-50%) translateY(-40%);
    min-width: 100%; 
    min-height: 100%; 
    width: auto; 
    height: auto;
}

.bg-still {
    overflow: hidden;
}
  
.video-overlay {
    position: fixed;
    bottom: 0;
    background: rgba(38, 38, 38, 0.65);
    color: #f5f5f5;
    width: 100%;
    height: 100%;
}

.title-header {
    margin-top: 16%;
    font-family: 'Cabin', sans-serif;
    font-size: 50px;
}

.title-secondary {
    margin-top: 2%;
    font-size: 22px;
}

.title-span {
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
  }

.start-quiz {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

#quiz-btn {
    background: none;
    color: #f5f5f5;
    border: 2px solid #f5f5f5;
    padding: 5px 20px;
    border-radius: 25px;
    transition: 0.3s;
}

#quiz-btn:hover {
    background: #169aef;
}

button:focus {
    outline: none;
}

header {
    width: 100%;
}

a {
    color: #f5f5f5;
}

a:hover,
#retake-quiz:hover {
    color: #e0245e;
    text-decoration: none;
}

.navbar {
    background-color: #169aef;
    display: flex;
    justify-content: center;
}

.clear-bg {
    background: none;
}

.header-logo {
    height: 60px;
    padding-top: 15px;
    padding-bottom: 5px;
}


/* Questionaire Styling */

.text-muted {
    color: #f5f5f5;
}

.last-seconds {
    color: red;
}

.option {
    margin: 15px;
}

/* Results Page Styling */


p {
    margin-bottom: 2px;
}

.bg-parallax {
    background: url(../images/bg-taps.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

.parallax-overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.30);
    color: #f5f5f5;
    width: 100%;
    height: 100%;
}

.based-on {
    color: #f5f5f5;
    width: 100%;
    font-family: 'Cabin', sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 1px #262626;
    position: absolute;
    top: 40vh;
}

.selected-style-text {
    margin-bottom: 20px;
    color: #262626;
    font-family: 'Cabin', sans-serif;
    font-size: 32px;
}

.selected-style-div {
    padding: 30px 0;
}

.retake-quiz-btn {
    background: #169aef;
    color: #f5f5f5;
    padding: 5px 20px;
    border-radius: 25px;
    transition: 0.3s;
}

.retake-quiz-btn:hover {
    background: #e0245e;
}

#selected-style-image,
#map-img {
    width: 100%;
    border: 1px solid #262626
}

.recommended-beers-div {
    padding-bottom: 25px;
}

table {
    table-layout: auto;
    width: 100%; 
}

td {
    background: url(../images/body-bg.jpg);
    border-top: 1px solid #262626;
    color: #262626;
    display: flex;
    padding: 10px;
    margin-bottom: 3px;
    min-height: 120px;
}

td a {
    color: #169aef;
}

.recommended-beer-row {
    position: relative;
    width: 120px;
    height: auto;
}

#recommended-beer-name,
#recommended-beer-company {
    font-size: 16px;
}

#recommended-beer-name {
    font-weight: bolder;
}

#recommended-beer-description {
    font-size: 14px;
}

.maps-div {
    background-color: #363636;
    padding: 30px 0;
}

.maps-text {
    margin-bottom: 15px;
    color: #f5f5f5;
    font-family: 'Cabin', sans-serif;
    font-size: 50px;
}

.social {
    background: url(../images/bg-beerhops.jpg) no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    height: 500px;
    position: relative;
    padding: 30px 0;
}

.social-overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.30);
    color: #f5f5f5;
    width: 100%;
    height: 100%;
}

.social-text {
    color: #f5f5f5;
    font-family: 'Cabin', sans-serif;
    font-size: 60px;
    text-shadow: 2px 2px 1px #262626;
}

#insta {
    position: absolute;
    top: 135px;
}

footer {
    background-color: #169aef;
    color: #f5f5f5;
    font-size: 11px;
    display: flex;
    padding-top: 10px;
}

#social-media {
    justify-content: center;
}

#copyright {
    margin-bottom: 0;
    font-size: 16px;
}

#design {
    margin-bottom: 30px;
}

#design a {
    font-size: 12px;
    font-weight: bold;
}

li {
    display: inline;
    padding: 0 10px;
    margin: 0 15px;   
    font-size: 40px; 
}

/* Media Queries */

/* @media only screen and (max-width: 991px) {
    .beer-logo {
        width: 100px;
    }

    .recommended-beer-label {
        width: px;
    }

    #recommended-beer-name,
    #recommended-beer-company {
        font-size: 14px;
    }

    #recommended-beer-company {
        font-size: 14px;
        line-height: 130%;
    }

    td {
        min-height: 120px;
    }    
}

@media only screen and (max-width: 767px) {
    .title-header {
        margin-top: 45px;
        font-size: 46px;
    }
    
    .title-secondary {
        margin-top: 30px;
        font-size: 22px;
    }
    
    .title-span {
        font-size: 30px;
      }
    
    .start-quiz {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 575px) {} */